<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askerlap.emadahmed.checkup">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.gm7.checkup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.gm7.checkup.Login"
            android:parentActivityName="com.example.gm7.checkup.Splash_Login"
            android:label="login" >
<meta-data android:name="android.support.PARENT_ACTIVITY"
    android:value="com.example.gm7.checkup.Splash_Login"/>
        </activity>
        <activity android:name="com.example.gm7.checkup.SignUPActivity"
            android:parentActivityName="com.example.gm7.checkup.Splash_Login"
            android:label="Create New Account">
            <meta-data android:name="android.support.PARENT_Activity"
                android:value="com.example.gm7.checkup.Splash_Login"/>
        </activity>
        <activity
            android:name="com.example.gm7.checkup.MainActivity"
            android:label="Main" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- Facebook Activity Added -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="931e58a6acb15fcc014d72ec2bbcf6b7ef6cf762" />

        <activity android:name="com.example.gm7.checkup.About_app" />
        <activity android:name="com.example.gm7.checkup.Splash_Login"></activity>
    </application>

</manifest>